.trustedBy{
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    span{
      color: rgb(155, 151, 151);
    }

    img{
      height: 50px;
    }
  }
}